html,
button,
input,
select,
textarea {
    color: #EEF0F3;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.text-center {
    text-align: center;
}

.full-width {
    width: 100%;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    padding: 20px;
    min-height: 40px;
    margin-bottom: 20px;
    background-color: #324150;
    border-top: 1px solid #273644;
    border-bottom: 1px solid #273644;
}

.navbar .container {
    padding: 0;
    position: relative;
    min-height: 40px;
}

.navbar ul {
    padding: 0;
    height: 100%;
}

.navbar li {
    display: inline;
    text-decoration: none;
    padding-right: 30px;
    font-size: 20px;
    height: 100%;
}

.navbar .logo {
    float: left;
}

.navbar a {
    color: #c0c7ce;
    text-decoration: none;
}

.jumbotron {
  padding: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #d0d4dc;
  font-size: 20px;
}

.row {
    display: table;
    margin-right: -15px;
    margin-left: -15px;
    width: 100%;
}

.column-logo, .column-info {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.column-logo {
    width: 40%;
    float: left;
}

.column-info {
    width: 50%;
    float: left;
}

.big-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  text-decoration: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.btn:focus {
  color: #eef0f3;
  text-decoration: none;
}

.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-primary {
  color: #eef0f3;
  background-color: #324150;
  border-color: #eef0f3;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  color: #eef0f3;
  background-color: #324150;
  border-color: #eef0f3;
}

.btn-primary:active,
.btn-primary.active {
  background-image: none;
}

.btn-lg,
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

pre,
blockquote {
    border: 1px solid #5a5e65;

    page-break-inside: avoid;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #c0c7ce;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #324150;
  border: 1px solid #273644;
  border-radius: 4px;
}

th {
  text-align: left;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #5a5e65;
}

.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #5a5e65;
}

.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}

::-moz-selection {
    background: #5a5e65;
    text-shadow: none;
}

::selection {
    background: #5a5e65;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #5a5e65;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #5a5e65;
    color: #eef0f3;
    padding: 0.2em 0;
}

body {
    color: #5a5e65;
    background-color: #eef0f3;
    /* width: 47em; */
    margin:0px auto;
    font-family: sans;
    font-size: large;
    min-height: 40%;
    padding: 10px 20px 10px 20px;
}

p {
    text-align: justify;
}

header {
    margin: 0;
}

h1 {
    padding: 10px 20px 10px 20px;
    margin: 0;
}

h2 {
    padding: 5px 10px 5px 10px;
}

a {
    text-decoration: none;
}

a:link {
    color: #69afff;
}

a:visited {
    color: #ff7f79;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: disc;
}

li {
    color: #5a5e65;
}

footer {
    color: #5a5e65;
    font-size: small;
}

